.container {
    max-width: 500px;
    margin: 1.4rem auto;
    padding: 2rem;
}

.page {
    max-width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
    align-items:center;
}

.art {
    width: 100%;
    max-height: 1000px;
    object-fit: contain;
    display: block;
    background-color: #f7f6ff;
    border-radius: 3rem;
}


.title {
    font-size: 2.5rem;
    font-weight:bold;
}

.description {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formControl{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

input{
    font-size: 1rem;
    padding: 1rem;
    border:1px solid black;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}

.formButton {
    font-size: 1rem;
    padding:1rem;
    margin-top: 10px;
    border-radius: 12px;
    background-color: #2f27ce;
    width: 100%;
    color: white;
    font-weight: bold;

    
}

.formButton:hover{
    background-color: #4b3fff;
    box-shadow: 0 2px 8px rgb(0,0,0,0.2);
}

.sign-in{
    color: white;
    margin-top: 10px;
}

.registerText{
    font-size:1rem;
    margin-top: 1rem;
}

.username{
    font-size: 1.2rem;
    padding-bottom: 10px;
    text-align: left;
}

.password{
    font-size: 1.2rem;
    padding-bottom: 10px;
    text-align: left;
}