.container {
  max-width: 50%;
  min-height: 20%;
  margin: 20px auto;
  background: white;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  overflow: auto;
}

.header {
  background: #dedcff;
  color: black;
  padding: 30px;
  text-align: center;

}


.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.header p {
  opacity: 0.9;
  font-size: 1rem;
  margin: 0;
}

.formGroup label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  text-align: start;
}


.formGroup input,
.formGroup textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
}

.formGroup textarea {
  resize: vertical;
  min-height: 150px;
}

input[type="date"] {
  font-size: 1rem;
  padding: 1rem;
  height: auto;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  width: 100%;
  font-size: 1rem;
  border-radius: 999px;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  border: none;
  background-color: #2f27ce;
  color: white;
  transition: background-color .2s ease, box-shadow .2s ease, transform .1s ease;
  text-transform: none;

}

.btn:hover {
  background-color: #4b3fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(1px);
}


.message {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

.message.success {
  background: #d1edff;
  color: #3b9e43e1;
  border: 1px solid #bee5eb;
}

  .idSelect{
    width: 100%;
    max-width: 620px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 1rem;
    background:#fff;
    outline: none;
  }

.linkButton {
  display: inline-block;
  padding: 1rem 2rem;
  color: blue;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-size: 2.5rem;
  text-align: center;
}

