.movieGrid {
    display: grid;
    grid-template-columns: repeat(5, 16rem);
    gap: 1.25rem;
    justify-content: center;
    justify-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    text-align: left;
}
